.cache/
*.swp
*.swo
.bash_history*
.ssh/
.gnupg/
.pki/
Desktop/
Documents/
Downloads/
Music/
Pictures/
Videos/
Projects/
Public/
Templates/
.local/share/Trash/
.steam/
.steampath
.steampid
.java/
.oracle_jre_usage/
.mono/
.nv/
.pulse-cookie/
