.cache/
*.swp
*.swo
.bash_history*
.ssh/
.gnupg/
.pki/
Downloads/
Music/
Pictures/
Videos/
Documents/
Desktop/
Public/
Templates/
__pycache__/
.lesshst
.wget-hsts
.python_history
.bash_logout
.bash_profile
.local/
.steam/
.nv/
.java/
.mono/
.pulse-cookie/
